<h1>へんしゅうがめん</h1>
<%= form_with model: @post do |post| %>
  <label for="post_title">たいとる</label>
  <%= post.text_field :title %>
  <label for="post_body">ほんぶん</label>
  <%= post.text_area :body %>
  <%= post.submit "こーしん" %>
<% end %>