<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>
        Welcome to 
        <strong>
        Aiteru
        <i class="fa-regular fa-calendar-check"></i>
        </strong>
      </h1>
      <h5>About the website</h5>
      <p class="text-secondary">Coordinating plans with others should be simple and efficient. This platform is designed to streamline the scheduling process by allowing users to post their availability and invite responses directly.

      Users can list the days and times they are free, and others can easily indicate whether those options work for them by responding with a simple "yes" or "no." This approach removes the need for lengthy discussions and makes it easier to find a time that suits everyone.
      
      Ideal for casual meetups, group activities, or team gatherings, the platform provides a straightforward way to organize plans with minimal back-and-forth.
      
      Effortless scheduling, better connections.
      </p>