<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>
        Welcome to 
        <strong>
        <i class="fa-regular fa-calendar-check"></i> Aiteru
        </strong>
      </h1>

    <div class="btn-wrapper col-10 mx-auto">
      <div class="row">
        <%= link_to "Log In", new_user_session_path, class: 'btn btn-success btn-sm btn-block mb-3' %>
      </div>
      <div class="row">
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-warning btn-sm btn-block mb-3' %>
      </div>
      <div class="row">
        <%= link_to "Continue as Guest", root_path, class: 'btn btn-danger btn-sm btn-block' %>
      </div>
    </div>