<div>
  <h2>Edit My Profile</h2>
  <%= form_with model: @user do |user| %>
    <%= user.file_field :profile_image, placeholder: "Profile Image", accept: "image/*"
    <h6><%= user.label :name, class: "" %></h6>
    <%= user.text_field :name, autofocus: true, placeholder:"Name" %>
  <% end %>
</div>