<% if model.errors.any? %>
  <div class="alert alert-danger">
    <h5 class="alert-heading">Oops! Looks like something went wrong.</h5>
    <ul class="mb-0">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>